.group-items {
    display: flex;
}

.group-item {
    width: 25%;
    text-align: center;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    color: red;
}

.modal {
    background-color: hotpink;
}