* {
    background-color: #FFF0E1;
}

.logo,
.logo2 {
    display: block;
}

.logo {
    justify-content: center;
    align-items: center;
}

.register {
    display: flex;
    text-align: left;
    justify-content: left;
}

.register_google {
    border-radius: 10px;
    font-size: 13px;
    margin-top: 2%;
    border: none;
    width: 30%;
    height: 2.5rem;
    display: block;
    text-align: left;
    justify-content: left;
}

.register_google {
    background: #FFFFFF;
}

.return_login {
    width: 30%;
    height: 2.5rem;
    border: none;
    font-style: initial;
    font-weight: bold;
    justify-content: left;
    text-align: left;
}

.login {
    background: #6493C6;
    border: none;
    color: white;
    margin-top: 7%;
    font-size: 13px;
    width: 30%;
    height: 2.5rem;
    border-radius: 10px;
}

input.form-control {
    background-color: white;
    border: none;
    margin-top: 2%;
}

.form-control {
    text-align: justify;
    width: 30%;
    height: 2.5rem;
}

.label {
    display: block;
    text-align: justify;
    justify-content: left;
}

h5 {
    font-size: 13px;
    display: flex;
    color: #453F3F;
    margin-left: 10%;
}

h6 {
    font-size: 11px;
    padding-top: 0.5%;

}